 
/* Padding a los lados para secciones y contenedores */
.section,
.container {
  padding-left: 2rem;   /* puedes ajustar el valor */
  padding-right: 2rem;  /* puedes ajustar el valor */
  margin: 0 auto;
  text-align: left;     /* textos alineados a la izquierda dentro del padding */
}
 
 


/* Excluir padding y márgenes solo para esta sección hero */
 

/* Hero ancho completo sin padding */
.hero-integridad-full {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  min-height: 100vh !important;
}



/* Encapsular Bulma solo en .bulma-scope */
.bulma-scope {
  all: initial;
  * {
    all: unset;
    display: revert;
  }
}




/* Tabla de Normativas: fondo blanco, letras negras y sin líneas verticales */
.custom-table {
  background-color: #ffffff !important;
  color: #000000 !important;
  border-collapse: collapse;
  width: 100%;
}

/* Encabezados y celdas */
.custom-table th,
.custom-table td {
  background-color: #ffffff !important;
  color: #000000 !important;
  border-top: 1px solid #ddd;   /* solo horizontal */
  border-bottom: 1px solid #ddd;
  border-left: none !important; /* sin verticales */
  border-right: none !important;
  vertical-align: top;
  padding: 0.75rem;
}

/* Justificar solo el texto de la columna Detalle */
.text-justify {
  text-align: justify !important;
}


.column ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}



.navbar {
  min-height: 90px;   /* ajusta la altura */
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.navbar-item {
  font-size: 0.95rem; /* textos más pequeños en el header */
}


.custom-placeholder::placeholder {
  color: #ff1493; /* ejemplo: rosado fuerte */
  opacity: 1;
}

 

.input::placeholder {
  color: #545151 !important; /* negro para que se note */
  opacity: 1 !important;     /* asegura visibilidad */
}

 